USE master;
GO

IF DB_ID('BookStore') IS NOT NULL
BEGIN
    ALTER DATABASE BookStore SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE BookStore;
END
GO

CREATE DATABASE BookStore;
GO

USE BookStore;
GO
CREATE TABLE [dbo].[Authors](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[BookId] [bigint] NOT NULL,
	[AuthorId] [bigint] NOT NULL,
 CONSTRAINT [PK_BookAuthors] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC,
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[StockQty] [int] NOT NULL,
	[MinStock] [int] NOT NULL,
	[CoverUrl] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CategoryId] [bigint] NULL,
	[PublisherId] [bigint] NULL,
	[Version] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](120) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Username] [nvarchar](50) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Active] [bit] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryMovements]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryMovements](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BookId] [bigint] NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[QuantityChange] [int] NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[OrderId] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_InventoryMovements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[BookId] [bigint] NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LineTotal] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPromotions]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPromotions](
	[OrderId] [bigint] NOT NULL,
	[PromotionId] [bigint] NOT NULL,
 CONSTRAINT [PK_OrderPromotions] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](30) NOT NULL,
	[OrderDate] [datetime2](0) NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
	[PaymentMethod] [nvarchar](10) NULL,
	[PaymentStatus] [nvarchar](10) NOT NULL,
	[CashierUserId] [bigint] NULL,
	[CustomerId] [bigint] NULL,
	[OnlineOrderBit] [bit] NOT NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[ShippingFee] [decimal](12, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Discount] [decimal](12, 2) NOT NULL,
	[GrandTotal] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](40) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[Value] [decimal](12, 2) NOT NULL,
	[StartDate] [datetime2](0) NOT NULL,
	[EndDate] [datetime2](0) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/17/2026 2:49:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (1, N'George Orwell', CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Authors] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (2, N'Yuval Noah Harari', CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Authors] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (3, N'Robert C. Martin', CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
INSERT [dbo].[BookAuthors] ([BookId], [AuthorId]) VALUES (1, 1)
INSERT [dbo].[BookAuthors] ([BookId], [AuthorId]) VALUES (2, 8)
INSERT [dbo].[BookAuthors] ([BookId], [AuthorId]) VALUES (3, 11)
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Code], [Title], [ISBN], [Price], [StockQty], [MinStock], [CoverUrl], [Description], [Status], [CategoryId], [PublisherId], [Version], [CreatedAt], [UpdatedAt]) VALUES (1, N'BK-001', N'1984', N'9780451524935', CAST(120000.00 AS Decimal(12, 2)), 20, 5, N'/img/img_book/anh (1).png', N'Tác phẩm kinh điển của George Orwell về xã hội toàn trị.', N'ACTIVE', 1, 1, 0, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Books] ([Id], [Code], [Title], [ISBN], [Price], [StockQty], [MinStock], [CoverUrl], [Description], [Status], [CategoryId], [PublisherId], [Version], [CreatedAt], [UpdatedAt]) VALUES (2, N'BK-008', N'Kafka on the Shore', N'9781400079278', CAST(280000.00 AS Decimal(12, 2)), 12, 3, N'/img/img_book/anh (7).jpeg', N'Cuốn tiểu thuyết nổi tiếng của Haruki Murakami, kể về cuộc sống và tâm lý tuổi trẻ.', N'ACTIVE', 1, 1, 0, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Books] ([Id], [Code], [Title], [ISBN], [Price], [StockQty], [MinStock], [CoverUrl], [Description], [Status], [CategoryId], [PublisherId], [Version], [CreatedAt], [UpdatedAt]) VALUES (3, N'BK-011', N'The Alchemist', N'9780061122415', CAST(220000.00 AS Decimal(12, 2)), 18, 3, N'/img/img_book/anh (10).jpeg', N'“Nhà Giả Kim” của Paulo Coelho, câu chuyện về hành trình tìm kiếm giấc mơ.', N'ACTIVE', 1, 2, 0, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'Fiction', N'fiction', NULL, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'Non-Fiction', N'non-fiction', NULL, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'Science', N'science', NULL, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FullName], [Phone], [Email], [Username], [PasswordHash], [Active], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, N'Nguyễn Văn A', N'0901234567', N'a@example.com', NULL, NULL, 1, NULL, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Customers] ([Id], [FullName], [Phone], [Email], [Username], [PasswordHash], [Active], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, N'Trần Thị B', N'0912345678', N'b@example.com', NULL, NULL, 1, NULL, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Customers] ([Id], [FullName], [Phone], [Email], [Username], [PasswordHash], [Active], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, N'Nguyễn Hoàng Online', N'0988888888', N'hoang.online@gmail.com', N'hoang_online', N'202cb962ac59075b964b07152d234b70', 0, NULL, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-17T13:24:48.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [BookId], [UnitPrice], [Quantity], [LineTotal]) VALUES (1, 1, 7, CAST(450000.00 AS Decimal(12, 2)), 1, CAST(450000.00 AS Decimal(12, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [BookId], [UnitPrice], [Quantity], [LineTotal]) VALUES (2, 1, 5, CAST(260000.00 AS Decimal(12, 2)), 1, CAST(260000.00 AS Decimal(12, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [BookId], [UnitPrice], [Quantity], [LineTotal]) VALUES (3, 2, 5, CAST(260000.00 AS Decimal(12, 2)), 1, CAST(260000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderCode], [OrderDate], [Status], [PaymentMethod], [PaymentStatus], [CashierUserId], [CustomerId], [OnlineOrderBit], [ShippingAddress], [ShippingFee], [Note], [Total], [Discount], [GrandTotal]) VALUES (1, N'ORD-0001', CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), N'PAID', N'CASH', N'PAID', 3, 1, 0, NULL, CAST(0.00 AS Decimal(12, 2)), NULL, CAST(710000.00 AS Decimal(12, 2)), CAST(71000.00 AS Decimal(12, 2)), CAST(639000.00 AS Decimal(12, 2)))
INSERT [dbo].[Orders] ([Id], [OrderCode], [OrderDate], [Status], [PaymentMethod], [PaymentStatus], [CashierUserId], [CustomerId], [OnlineOrderBit], [ShippingAddress], [ShippingFee], [Note], [Total], [Discount], [GrandTotal]) VALUES (2, N'WEB-0001', CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), N'PENDING', N'CASH', N'UNPAID', NULL, 3, 1, N'123 Đường Lê Lợi, Quận 1, TP. Hồ Chí Minh', CAST(30000.00 AS Decimal(12, 2)), N'Giao giờ hành chính giúp em nha Shop!', CAST(260000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(290000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [Code], [Name], [Type], [Value], [StartDate], [EndDate], [Active], [CreatedAt], [UpdatedAt]) VALUES (1, N'SALE10', N'Giảm 10%', N'PERCENT', CAST(10.00 AS Decimal(12, 2)), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-07-10T06:01:03.0000000' AS DateTime2), 1, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Promotions] ([Id], [Code], [Name], [Type], [Value], [StartDate], [EndDate], [Active], [CreatedAt], [UpdatedAt]) VALUES (2, N'FIX50K', N'Giảm 50.000đ', N'FIXED', CAST(50000.00 AS Decimal(12, 2)), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-08-09T06:01:03.0000000' AS DateTime2), 1, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (1, N'Penguin Random House', CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Publishers] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (2, N'HarperCollins', CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Publishers] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (3, N'O''Reilly Media', CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Role], [Active], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'202cb962ac59075b964b07152d234b70', N'Admin User', N'ADMIN', 1, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Role], [Active], [CreatedAt], [UpdatedAt]) VALUES (2, N'manager', N'hashed_pass_2', N'Admin Manager', N'MANAGER', 0, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-17T13:14:38.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [FullName], [Role], [Active], [CreatedAt], [UpdatedAt]) VALUES (3, N'staff', N'hashed_pass_3', N'Staff User', N'STAFF', 1, CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2), CAST(N'2026-06-10T06:01:03.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Authors_Name]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Authors] ADD  CONSTRAINT [UQ_Authors_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Books_Code]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [UQ_Books_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Books_ISBN]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [UQ_Books_ISBN] UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_Name]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_Slug]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_Slug] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customers_Phone]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [UQ_Customers_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Orders_OrderCode]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [UQ_Orders_OrderCode] UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Promotions_Code]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [UQ_Promotions_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Publishers_Name]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Publishers] ADD  CONSTRAINT [UQ_Publishers_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 6/17/2026 2:49:09 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Authors] ADD  CONSTRAINT [DF_Authors_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Authors] ADD  CONSTRAINT [DF_Authors_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_StockQty]  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_MinStock]  DEFAULT ((0)) FOR [MinStock]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_Status]  DEFAULT (N'ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_Version]  DEFAULT ((0)) FOR [Version]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[InventoryMovements] ADD  CONSTRAINT [DF_InventoryMovements_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderDate]  DEFAULT (sysutcdatetime()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_PaymentStatus]  DEFAULT (N'UNPAID') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OnlineOrderBit]  DEFAULT ((0)) FOR [OnlineOrderBit]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_ShippingFee]  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Total]  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_GrandTotal]  DEFAULT ((0)) FOR [GrandTotal]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotions_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Publishers] ADD  CONSTRAINT [DF_Publishers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Publishers] ADD  CONSTRAINT [DF_Publishers_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Author] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Author]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Book]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Category]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publisher] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publisher]
GO
ALTER TABLE [dbo].[InventoryMovements]  WITH CHECK ADD  CONSTRAINT [FK_InventoryMovements_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[InventoryMovements] CHECK CONSTRAINT [FK_InventoryMovements_Book]
GO
ALTER TABLE [dbo].[InventoryMovements]  WITH CHECK ADD  CONSTRAINT [FK_InventoryMovements_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[InventoryMovements] CHECK CONSTRAINT [FK_InventoryMovements_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Book]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderPromotions]  WITH CHECK ADD  CONSTRAINT [FK_OrderPromotions_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderPromotions] CHECK CONSTRAINT [FK_OrderPromotions_Order]
GO
ALTER TABLE [dbo].[OrderPromotions]  WITH CHECK ADD  CONSTRAINT [FK_OrderPromotions_Promotion] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderPromotions] CHECK CONSTRAINT [FK_OrderPromotions_Promotion]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Cashier] FOREIGN KEY([CashierUserId])
REFERENCES [dbo].[Users] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Cashier]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_MinStock] CHECK  (([MinStock]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_MinStock]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_Price]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_Status] CHECK  (([Status]=N'INACTIVE' OR [Status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_Status]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_StockQty] CHECK  (([StockQty]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_StockQty]
GO
ALTER TABLE [dbo].[InventoryMovements]  WITH CHECK ADD  CONSTRAINT [CK_InventoryMovements_Qty] CHECK  (([QuantityChange]<>(0)))
GO
ALTER TABLE [dbo].[InventoryMovements] CHECK CONSTRAINT [CK_InventoryMovements_Qty]
GO
ALTER TABLE [dbo].[InventoryMovements]  WITH CHECK ADD  CONSTRAINT [CK_InventoryMovements_Type] CHECK  (([Type]=N'ADJUST' OR [Type]=N'IMPORT' OR [Type]=N'SALE'))
GO
ALTER TABLE [dbo].[InventoryMovements] CHECK CONSTRAINT [CK_InventoryMovements_Type]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetails_LineTotal] CHECK  (([LineTotal]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CK_OrderDetails_LineTotal]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetails_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CK_OrderDetails_Quantity]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetails_UnitPrice] CHECK  (([UnitPrice]>(0)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CK_OrderDetails_UnitPrice]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_Discount] CHECK  (([Discount]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_Discount]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_GrandTotal] CHECK  (([GrandTotal]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_GrandTotal]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_PaymentMethod] CHECK  (([PaymentMethod] IS NULL OR ([PaymentMethod]=N'MOMO' OR [PaymentMethod]=N'VNPAY' OR [PaymentMethod]=N'CARD' OR [PaymentMethod]=N'CASH')))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_PaymentMethod]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_PaymentStatus] CHECK  (([PaymentStatus]=N'REFUNDED' OR [PaymentStatus]=N'PAID' OR [PaymentStatus]=N'UNPAID'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_PaymentStatus]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_Status] CHECK  (([Status]=N'CANCELLED' OR [Status]=N'PAID' OR [Status]=N'SHIPPING' OR [Status]=N'CONFIRMED' OR [Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_Status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_Total] CHECK  (([Total]>=(0)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_Total]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Type] CHECK  (([Type]=N'FIXED' OR [Type]=N'PERCENT'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Type]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Value] CHECK  (([Value]>=(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Value]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]=N'MANAGER' OR [Role]=N'STAFF' OR [Role]=N'ADMIN'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
